.Rproj.user
.Rhistory
.RData
.Ruserdata
*.o
*.so
inst/doc
tests/testthat/capture*
.vs
src/genthat.dll
tmp
.idea
00check.log
genthat_*.tar.gz
TAGS
generated_tests
man
genthat.Rproj
genthat.h
R/RcppExports.R
src/RcppExports.cpp
genthat.Rcheck
src
